<h1>Click an Item To View</h1>
<%= link_to 'Create a new item', new_store_item_path(@store) %>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, [@store, item] %></li>
  <% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Create a New Store', root_path(@store) %>